/* Dimensioni schermo 0–576px */
@media screen and (max-width: 576px) {
    body{
    }  

    /* MAIN */

    div.upgrade {
        width: calc(100% - 60px);
    }

    /* NAV */

    nav.side-menu-bar {
        align-items: center;
    }

    #logo-desktop img {
        display: none;
    }

    #logo-mobile img {
        width: 40px;
        margin-bottom: 1rem;
    }
    
    #logo-mobile {
        display: inline-block;
        margin-bottom: 1rem;
    }

    img.nav-menu-up-icon {
        width: 30px;
        margin: .5rem 0;
    }

    nav.side-menu-bar {
    width: 60px;
    }

    section.app-main-box {
        width: calc(100% - 100px);
    }
    

    ul.nav-menu-up li {
        align-items: center;
    }

    ul.nav-menu-up li a {
        display: none;
    }

    li.nav-menu-up-line::before {
        display: none;
    }
 
    div.playlist {
        display: none;
    }

    div.side-menu-bottom div p, div.side-menu-bottom div h2 {
        display: none;
    } 

    div.line {
        display: none;
    }

    div.side-menu-bottom {
        width: 100%;
    }
    
    div.side-menu-bottom div img {
        margin-right: 0;
    }

    div.installa-app {
        width: 100%;
        justify-content: center;
    }

    div.profile {
        width: 100%;
        justify-content: center;
    }

    div.profile-pic-container {
        margin-right: 0;
        margin-top: 1rem;
    }

    div.profile h1{
        display: none;
    }

    /* MAIN APP*/
    section.app-main-box {
        width: calc(100% - 60px)
    }

    /* FOOTER */

    div.player-controls{
        gap: 1rem;
    }

    div.player-line-container h5 {
        margin: 0 .5rem;
    }

    div.footer-left img {
        width: 40px;
    } 

    /* UTILITIES */

    .padding-left-m {
        padding-left: 0;
    }
}