/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* width: 100vw;
    height: 100vh;
    background-color: aqua; */
    font-family: 'Montserrat', sans-serif;  
    color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #6f6f6f;
    font-size: .9rem;
}

/* Texts */

h1 {}

h2 {}

h3 {
    font-size: 1.8rem;
}

/* MAIN */

main {
    width: 100%;
    height: calc(100vh - 90px); 
}

/* NAV */
nav.side-menu-bar {
    width: 300px;
    height: 100%; 
    background-color: #000000;
    padding-top: 1rem;
    flex-direction: column;
    justify-content: space-between;
}

/* UPPER NAV MENU */

#logo-desktop img {
    width: 150px;
    margin-bottom: 1rem;
}

#logo-mobile {
    display: none;
    margin-bottom: 1rem;
}

ul.nav-menu-up  {
    flex-direction: column;
}

ul.nav-menu-up li{
    position: relative;
    align-items: center;
}

li.nav-menu-up-line::before {
    position: absolute;
    left: calc(3px - 1.2rem);
    content: "";
    width: 100%;
    height: 90%;
    border-left: 3px solid #99e22d;
}

img.nav-menu-up-icon {
    width: 30px;
    margin: .5rem .5rem .5rem 0;
}

img.add-playlist {
    width: 50px; 
}

div.crea-playlist {
    align-items: center;
}

div.playlist ul li {
    margin: 1rem 0;
}

div.playlist h1 {
    text-transform: uppercase;
}

/* LOWER NAV MEN */

div.side-menu-bottom div img {
    width: 18px;
    margin-right: .5rem;
    
}

div.installa-app {
    align-items: center;
    width: 90%;

}

div.line {
    width: 80%;
    height: 1px;
    background-color: #6f6f6f;
    margin: 1rem 0;
}

div.profile-pic-container {
    background-color: #6f6f6f;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: .5rem;
    background-image: url(../img/profile.svg);
    background-position: center;
}

/* APP main box */

section.app-main-box {
    width: calc(100% - 300px);
    background-color: #141922;
    overflow-y: scroll;
}

/* Upgrade */
div.upgrade {
    background-color: #080b12;
    height: 90px;
    width:100%;
    justify-content: flex-end;
    align-items: center;
}

div.app {
    padding: 2rem;
    margin: 0 auto;
}

/* Selection choice nav */

nav.nav-section-choice ul {
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
    line-height: 1.5rem;
    color: #7b7d82;
    font-weight: 600;
}

li.nav-app-line {
    display: inline-block;
    position: relative;
}

li.nav-app-line::before {
    position: absolute;
    left: 30%;

    content: "";
    width: 40%;
    height: 100%;
    border-bottom: 2px solid #99e22d;
}

nav.nav-section-choice ul li{
    margin: 1rem 1rem;
    font-size: .8rem;
}

/* Albums section */

.album-row-title {
    padding: 1.5rem 0;
}

div.album-row {
    justify-content: space-between;
    flex-wrap: wrap;
}

div.album-column {
    width: calc((100% / 6) - .5rem);
    text-align: center;
    flex-direction: column;
    align-items: center;
}

div.album-column img{
    width: 100%;
}

div.album-row-left {
    justify-content: flex-start;
    gap: 1rem;
}

img.album-cover-round {
    border-radius: 50%;
}

/* FOOTER */

footer {
    background-color: #282828;
    height: 110px;
}

div.footer-container {
    padding: .8rem;
    align-items: center;
    justify-content: space-between;
}

/* Footer left */
div.footer-left {
    align-items: center;
}

div.footer-left img {
    width: 50px;
    margin-right: 1rem;
}

div.song-playing-info {
    margin-right: 2.5rem;
}

div.footer-left i {
    margin-right: 1rem;
    color: #7b7d82;
}

/* Footer center */
div.footer-center {
    flex-direction: column;
    justify-content: center;
    width: 35%;
}

div.player-controls{
    gap: 2rem;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
}

div.player-controls i{
    justify-content: center;
}

div.player-controls i.icon-big{
    font-size: 2rem;
}

div.player-line-container {
    padding-top: 1rem;
    align-items: center;
}

div.player-line {
    background-color: #7b7d82;
    height: 4px;
    border-radius: 2px;
    width: 100%;
}

div.player-line-percentage {
    height: 100%;
    border-radius: 50%;
    width: 20%;
    background-color: #c1c1c1;
}

div.player-line-container h5{
    margin: 0 1rem;
}

div.footer-right {
    align-items: center;
}

div.footer-right  div i {
   margin: 0 .5rem;
}

div.player-line-container-right {
    width: 120px;
    align-items: center;
}

/* UTILITIES */

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.margin-bottom {
    margin-bottom: 1rem;
}

button {
    background-color: #080b12;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: .9rem;
    padding: .8rem 2.3rem;
    border-radius: 1.7rem;
    color: white;
    margin: .5rem;
}

.padding-left-m {
    padding-left:1.3rem
}
/* Colors */