/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;  
    color: white;
}

main {
    width: 100%;
    height: calc(100vh - 110px); 
}

footer {
    position: relative;
    background-color: #282828;
    height: 110px;
    width: 100%;
    z-index: 3;
}

ul {
    list-style-type: none;
}

p {
    font-size: .8rem;
}

a {
    text-decoration: none;
    color: #6f6f6f;
    font-size: .8rem;
}

a:hover{
    color: white;
}

/* Texts */

h1 {
    font-size: .9rem;
    font-weight: 700;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: .8rem;
}

h5 {
    font-size: .6rem;
}

h6 {
    font-size: 5rem;
    font-weight: 700;
}

/* MAIN */

/* NAV */
nav.side-menu-bar {
    width: 270px;
    height: calc(100vh - 110px); 
    background-color: #000000;
    color: #7b7d82;
    font-weight: 600;
    padding-top: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
}

/* UPPER NAV MENU */

#logo-desktop img {
    width: 150px;
    margin-bottom: 1rem;
}

#logo-mobile {
    display: none;
    margin-bottom: 1rem;
}

ul.nav-menu-up  {
    flex-direction: column;
}

ul.nav-menu-up li{
    position: relative;
    z-index: 2;

    align-items: center;
    /* background-color: aqua; */
}

li.nav-menu-up-line::after {
    position: absolute;
    left: calc(3px - 1.5rem);
    content: "";
    width: 100%;
    height: 90%;
    border-left: 3px solid #99e22d;
    /* background-color: red; */
}

li.nav-menu-up-line a{
    color: white;
}

img.nav-menu-up-icon {
    width: 30px;
    margin: .25rem .5rem .25rem 0;
    opacity: 80%;
}

div.add-playlist {
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px;
    background-color: white;
    opacity: 80%;
    color: #141922;
    margin-right: .5rem;
}

div.add-playlist h3{
    font-size: 2.5rem;
    text-align: center;
}

ul.playlist-list {
    overflow-y: scroll;
    height: 40vh;
    min-height: 25vh;
}

div.crea-playlist {
    align-items: center;
}

div.crea-playlist:hover {
    cursor: pointer;
    color: white;
}

div.crea-playlist:hover div.add-playlist{
    opacity: 100%;
}

div.playlist ul li {
    margin: 1.3rem 0;
}

div.playlist h1.playlist-title {
    text-transform: uppercase;
    color: white;
    margin-bottom: .8rem;
}

/* LOWER NAV MEN */

div.side-menu-bottom div img {
    width: 18px;
    height: 60px;
    margin-right: .5rem;
    opacity: 80%;    
}

div.side-menu-bottom div h2 {
    color: white;
}

div.installa-app {
    align-items: center;
    width: 90%;
}

div.line {
    width: 80%;
    height: 1px;
    background-color: #6f6f6f;
    margin: 1rem 0;
}

div.profile {
    margin-bottom: .5rem;
    align-items: center;
    color: white;
}

div.profile-pic-container {
    background-color: #6f6f6f;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 1rem;
    background-image: url(../img/profile.svg);
    background-position: center;
}

/* APP main box */

section.app-main-box {
    position: relative;
    flex-direction: column;
    width: calc(100% - 270px);
    background-color: #141922;
}

/* Podcast header */

div.app-main-header {
    width: 100%;
}

div.app-header-controls {
    /* position: fixed; */

    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.081); */
    height: 50px;
}

div.back-controls {
    align-items: center;
    height: 100%;
    width: 200px;
}

div.back-controls-circle {
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    background-color: #000000;
    border-radius: 15px;
    margin-right: 1rem;
}

div.profile-controls {
    height: 30px;
    border-radius: 15px;
    padding: .5rem;
    background-color: #000000;
    font-size: .8rem;

    align-items: center;
    justify-content: space-around;
    gap: .6rem;
}

div.pc-img-container {
    width: 20px;
    height: 20px;
}

div.pc-img-container img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

div.profile-controls p {
    font-size: .75rem;
    font-weight: 500;
}
/* Main podcast section header */

div.app-header-podcast-info {
    margin-top: 30px;
    align-items: center;
    overflow-y: scroll;
}

div.header-album {
    width: 220px;
    height: 220px;
    margin-right: 1rem;
}

div.header-album img{
    object-fit: cover;
    width: 100%;
    border-radius: 8px;

}

div.header-album-texts {
    flex-direction: column;
    justify-content: flex-end;
    height: 220px;
}

div.header-album-texts p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .7rem;
}

div.header-album-texts h3 {
    margin-top: 1.6rem;
    margin-bottom: .8rem;
    font-size: 1.3rem;
}

/* Main podcast section episodes and info */
/* Following nav */

div.follow-section {
    align-items: center;
}

button.button-square {
    margin: 2rem 0;
    font-size: .75rem;
    border-radius: 5px;
    padding: .4rem 1rem;
    background-color: none;
}

div.follow-section i {
    opacity: .6;
    margin-left: 2rem;
    font-size: 1.5rem;
}

/* Column episodies */
div.col-episodes {
    width: 60%;
}

/* Podcast info */

div.podcast-info-container {
    background-color: #232323c5;
    border-radius: .3rem;
    margin: 1rem;
    padding: 1rem;
}

div.podcast-info-container p {
    font-size: .7rem;
    opacity: .6;
    margin-bottom: .6rem;
    line-height: 1rem;
}

div.podcast-info-title {
    align-items: center;
    margin-bottom: 1rem;
}

div.blue-circle {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #2c76cf;
    margin-right: .8rem;
}

div.episode-length  {
    justify-content: flex-start;
    align-items: center;
}

div.green-circle {
    background-color: #1bd760;
    width: 30px;
    height: 30  px;
    border-radius: 50%;
    color: #000000;
    margin-right: 1rem;
    padding: .3rem;
}

div.green-circle i {
    margin: auto;
}

div.episode-length span {
    font-size: .75rem;
    opacity: .6;
    margin-right: .3rem;
}

/* FOOTER */

div.footer-container {
    flex-wrap: wrap;
    height: 100%;
    padding: .8rem;
    align-items: center;
    justify-content: space-between;
}

/* Footer left */
div.footer-left {
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 25%;
}

div.footer-left img {
    width: 50px;
}

div.song-playing-info{
    flex-direction: column;
    justify-content: center;
}

div.song-playing-info a{
    font-size: .65rem;
    font-weight: 600;
}

div.song-playing-info a:hover{
    text-decoration: underline;
}

div.footer-left i {
    margin-right: .5rem;
    font-size: .9rem;
    color: #7b7d82;
}

div.footer-left i:hover {
    cursor: pointer;
    color: white;
}

div.like-folder-icons {
    flex-wrap: wrap;
}

/* Footer center */
div.footer-center {
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.player-controls{
    height: 2rem;
    min-width: 250px;
    gap: 1.5rem;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
}

div.player-controls i{
    justify-content: center;
    transform-origin: center;
}

div.player-controls i:hover{
    cursor: pointer;
}

div.icon-big-container {
    width:1.8rem;
    heigth:1.8rem;
}

i.icon-big{
    font-size: 1.6rem;
}

i.icon-big:hover{
    transform: scale(1.25);
    cursor: pointer;
}

div.player-line-container {
    padding-top: 1rem;
    align-items: center;
    width: 60%;
}

div.player-line {
    position: relative;
    background-color: #7b7d82;
    height: 4px;
    border-radius: 2px;
    width: 100%;
}

div.player-line-percentage {
    height: 100%;
    border-radius: 2px;
    width: 20%;
    background-color: #c1c1c1;
}

div.player-line-container:hover div.player-line-percentage{
    background-color: white;
}

div.player-line-circle{
    position: absolute;
    left: calc(20% - 7px);
    bottom: calc(50% - 7px);

    width: 14px;
    height: 14px;
    background-color: #99e22d;
    border-radius: 50%;
    cursor: pointer;
}

.display-hover {
    display: none;
}

div.player-line-container:hover .display-hover{
    display: inline-block;
}


div.player-line-container h5{
    margin: 0 1rem;
}

div.footer-right {
    align-items: center;
    justify-content: flex-end;
    width: 25%;
}

div.footer-right  div i {
   margin: 0 .5rem;
   font-size: .8rem;
}

div.footer-right  div i:hover {
    cursor: pointer;
 }

div.player-line-container-right {
    width: 120px;
    align-items: center;
}

div.player-line-container-right:hover div.player-line-percentage{
    background-color: white;
}

div.player-line-container-right:hover .display-hover{
    display: inline-block;
}

/* UTILITIES */

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.margin-bottom {
    margin-bottom: 1.2rem;
}

button {
    background-color: #080b12;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: .9rem;
    padding: .8rem 2.3rem;
    border-radius: 1.7rem;
    color: white;
    margin: .5rem 1.5rem;
    transform-origin: center;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.padding-left-m {
    padding-left:1.5rem
}

.container-big {
    padding: 0 2rem ;
}

.container-small {
    padding: 0 1rem;
}

.bg-color-black{
    background-color: black;
}

.opacity-low{
    opacity: .5;
}
/* Colors */