/* Dimensioni schermo 576-768 */
@media screen and (max-width: 768px) {
    body{
        /* background-color: green; */
    }

    /* main app Header */

    .right-circle {
        display: none;
    }

    /* Footer */

    div.player-line-container {
        width: 90%;
      }

      div.like-folder-icons {
        flex-direction: column;
    }
}